*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body, #root {
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: var(--gray);
}

*, button, input{
    border: 0;
    font-family: 'folio-lt';
}
:root {
    --gray: #333333;
    --gray-dark: #2b2b2b;
    --blue-dark: #4099a1;
    --blue-light: #54c5d0;
    
}

@font-face {
    font-family: 'folio-bk';
    src: local('folio-bk'), url('../Webpack_Assets/Fonts/folio-bk-bt-book.ttf') format('truetype');
}

@font-face {
    font-family: 'folio-lt';
    src: local('folio-lt'), url('../Webpack_Assets/Fonts/folio-lt-bt-light.ttf') format('truetype');
}